@model object

<!DOCTYPE html>

<html>
<head>
    <title>İşlem Başarılı</title>
</head>
<body>
<div>
    <br/>
    <h3>İşleminiz Başarıyla Gerçekleşti</h3>
    <br/>
    @Html.ActionLink("Anasayfa","Index")
</div>
</body>
</html>